{% extends "base.html" %}

{% block content %}

<div class="uk-container uk-container-small">
    <br><br>
    <h1 class="uk-text-center">Dashboard</h1>
    <br>

    <div class="uk-container uk-container-xsmall">
        <h3 class="uk-width-1-1 uk-text-center">Printer Usage (2/3 Busy)</h3>
        <progress class="uk-progress uk-align-center uk-width-1-2" value="66.6" max="100"></progress>
        <button class="uk-button uk-button-primary uk-button-large uk-align-center">Upload Print</button>
        <br>
    </div>

    <ul uk-accordion>
        <li>
            <a class="uk-accordion-title" href="#">Printer 1 (Printing)</a>
            <div class="uk-accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Printer 2 (Ready)</a>
            <div class="uk-accordion-content">
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Printer 3 (Preheating)</a>
            <div class="uk-accordion-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
            </div>
        </li>
    </ul>

</div>

{% endblock %}