{% extends "base.html" %}

{% block content %}

<script src="{{ url_for('static', filename='js/update-index.js') }}"></script>

<div class="uk-container uk-container-small">
    <br><br>
    <h1 class="uk-text-center">Dashboard</h1>
    <br>

    <div class="uk-container uk-container-xsmall">
        <h3 id="utilization_title" class="uk-width-1-1 uk-text-center">Printer Usage ({{ usage }}/{{ max }} Working)</h3>
        <progress id="utilization_bar" class="uk-progress uk-align-center uk-width-1-2" value={{ usage }} max={{ max }}></progress>
        <br>
    </div>

    <ul uk-accordion class="uk-margin-bottom">
        {% for printer in printers %}
        <div class="uk-card uk-card-body uk-card-default">
            <div class="uk-column-1-2">
                <div>
                    <text class="uk-card-title">{{ printer.name }}</text>
                    <br>
                    <span class="uk-badge">Production</span>
                    <span class="uk-badge">PLA+</span>
                    <span class="uk-badge">White</span>
                </div>
                <div class="uk-padding-small uk-padding-remove-bottom">
                    <progress class="uk-progress uk-width-1" value={{ printer.GetPrintCompletion() }} max=100></progress>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </ul>

</div>

{% endblock %}