{% extends "base.html" %}

{% block content %}

<script src="{{ url_for('static', filename='js/update-index.js') }}"></script>

<div class="uk-container uk-container-small">
    <br><br>
    <h1 class="uk-text-center">Add Job (Bulk)</h1>
    <br>


    <div class="uk-container uk-text-center">
        <form action="/upload">
            <input type="file" id="fileUpload"><br><br>

            <div class="uk-column-1-3">
                    {% for tag in tags %}
                        <input type="checkbox" class="uk-checkbox" id={{tag}} value={{tag}}>
                        <label for={{tag}}> {{tag}}</label><br>
                    {% endfor %}
            </div>

            <br><br>

            <input class="uk-range" type="range" min="1" max="10" value="1" id="partcount">
            <b id="sliderout"></b>

            <script>
                var slider = document.getElementById("partcount")
                var sliderout = document.getElementById("sliderout")
                sliderout.innerHTML = "Copies: " + slider.value;

                slider.oninput = function() {
                    sliderout.innerHTML = "Copies: " + this.value;
                }

            </script>

            <br><br>

            <input type="submit" class="uk-input uk-button-primary">
        </form>
    </div>

</div>

{% endblock %}